<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo List - Authentication</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container mt-4">
      <h1>Todo List - Authentication</h1>
      <ul class="nav nav-tabs">
          <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#register">Register</a>
          </li>
      </ul>
      <div class="tab-content">
          <div id="login" class="tab-pane fade show active">
              <form action="{{ url_for('auth') }}" method="post">
                  <input type="hidden" name="action" value="login">
                  <div class="form-group">
                      <label for="username">Username:</label>
                      <input type="text" class="form-control" id="username" name="username" required>
                  </div>
                  <div class="form-group">
                      <label for="password">Password:</label>
                      <input type="password" class="form-control" id="password" name="password" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
              </form>
          </div>
          <div id="register" class="tab-pane fade">
              <form action="{{ url_for('auth') }}" method="post">
                  <input type="hidden" name="action" value="register">
                  <div class="form-group">
                      <label for="username">Username:</label>
                      <input type="text" class="form-control" id="username" name="username" required>
                  </div>
                  <div class="form-group">
                      <label for="password">Password:</label>
                      <input type="password" class="form-control" id="password" name="password" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Register</button>
              </form>
          </div>
      </div>
  </div>
</body>
</html>
